@model IEnumerable<SimpleschoolApp.Models.Opleiding>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success mb-3" asp-action="Create">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeschikbarePlaatsen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeschikbarePlaatsen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            <td>
                <button type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                <button type="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</button>
                <button type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-success">Success</button>
