@model IEnumerable<SimpleSchool.Models.Opleiding>

@{
    ViewData["Title"] = "Index";
}

<h1>Opleidingen</h1>
@if (TempData["OpleidingtAangemaakt"] != null && (bool)TempData["OpleidingAangemaakt"])
{
    <div class="alert alert-success" role="alert">
        Er is succesvol een Opleiding aangemaakt!
    </div>
} else
{
    <div class="alert alert-danger" role="alert">
        Er is geen Opleiding aangemaakt!
    </div>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeschikbarePlaatsen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeschikbarePlaatsen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            <td>
                    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
                    <a type="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
