@model IEnumerable<SimpleSchool.Models.Leerkracht>

@{
    ViewData["Title"] = "Index";
}

<h1>Leerkracht</h1>
@if (TempData["LeerkrachtAangemaakt"] != null && (bool)TempData["LeerkrachtAangemaakt"])
{
    <div class="alert alert-success" role="alert">
        Er is succesvol een Leerkracht aangemaakt!
    </div>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeboorteDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeboorteDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
                    <a type="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


