@model IEnumerable<SimpleschoolApp.Models.Leerkracht>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Leerkrachten</h1>

<p>
    <a class="btn btn-success mb-3" asp-action="Create">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Naam)</th>
            <th>@Html.DisplayNameFor(model => model.GeboorteDatum)</th>
            <th>@Html.DisplayNameFor(model => model.EMail)</th>
            <th>@Html.DisplayNameFor(model => model.Adres)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                <td>@Html.DisplayFor(modelItem => item.GeboorteDatum)</td>
                <td>@Html.DisplayFor(modelItem => item.EMail)</td>
                <td>@Html.DisplayFor(modelItem => item.Adres)</td>
                <td>
                    <button type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                    <button type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                    <button type="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-success">Success</button>
